body{
    font-family: sans-serif, Arial;
    padding: 30px;
    background: #ededed;
    max-height: 100vh;
}
h1{
    margin-top: 10px;
}
.blue{
    color: #3f7abe;
}
.text-center{
    text-align: center;
}
.wrapper{
    max-width: 690px;
    margin: 0 auto;
}
h2{
    color: #08a3d9;
    text-transform: uppercase;
}
#baloon-gallery div{
    background-color: #ff3300;
    height: 120px;
    width: 120px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 100%;
    margin-top: 20px;
    display: inline-block;
    float: left;
    margin: 2.5px 5px 2.5px 0;
}
#baloon-gallery div:nth-child(3n){
    background-color: #ffce00;
}
#baloon-gallery div:nth-child(3n-1){
    background-color: #3f7abe;  
}
#baloon-gallery div:nth-child(5n){
    background-color: #8e7a8e;   
}
#baloon-gallery div:nth-child(13){
    background-color: #ff3300;
}
#baloon-gallery div:nth-child(10n){
    background-color: #fce07d;
}
#baloon-gallery div:nth-child(8n){
    background-color: #66375b;
}
#baloon-gallery div:nth-child(4n){
    clear: right;
}
#no-balls{
    display: none;
    font-size: 100px;
    color: #ff3300;
}